/* Inserta tu código aqui */
body{
	font-family: sans-serif;
	font-weight: lighter;
}

header{
	background: #333333;
	
}
.container h1{
	width: 25%;
	padding-top:10px;
	padding-bottom: 10px;
}

.container nav ul li{
	display: inline-block;
	padding-left: 20px;

}

.container nav ul li a{
	text-decoration: none;
	color:white;
	font-size: 15px;
}

.container h1,
.container nav{
	vertical-align: middle;
	display: inline-block;
}

.container_Latest{
	background: #eeeeee;
}

.col-3{
	text-align: center;
}



img{
	max-width: 100%;
}


.col-13{
	text-align: center;
	font-size: 11px;
	
	height: 140px;


}





.gale-img a img{
	
	border: solid 3px #fff;
	-webkit-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 5px -1px rgba(0,0,0,0.75);

}




.null{
padding: 0px;
margin-top: 30px;
margin-bottom: 20px;
}

